@font-face {
    font-family: 'Myriad Pro Bold Cond';
    src: url('./assets/fonts/MyriadPro-BoldCond.otf');
}
@font-face {
    font-family: 'Myriad Pro Cond';
    src: url('./assets/fonts/MyriadPro-Cond.otf');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('./assets/fonts/Roboto-Light_0.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}
.body {
     background-color: #f2f1f6;
     margin: 0;
     overflow-x: hidden 
}

canvas { 
    width: 100vw; 
    height: 100vh; 
    display: block
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{
    font-family: 'Myriad Pro Bold Cond';
    text-transform: uppercase;    
}

p{
    font-family: 'Roboto Light';
}

a, a:hover{
    font-family: 'Roboto Light';  
    color: inherit;
    text-decoration: none;
}

span{
    font-family: 'Roboto Light';    
}