@font-face {
    font-family: 'Myriad Pro Bold Cond';
    src: url('./../../assets/fonts/MyriadPro-BoldCond.otf');
}
@font-face {
    font-family: 'Myriad Pro Cond';
    src: url('./../../assets/fonts/MyriadPro-Cond.otf');
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('./../../assets/fonts/MyriadPro-Bold.otf');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('./../../assets/fonts/Roboto-Light_0.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('./../../assets/fonts/Roboto-Bold.ttf');
}

.black-body{
    overflow:hidden;
    height: 100vh;
    width: 0;
    display: block;
    position: relative;    
    background-color: #3A3A3A ;
    background-image: url('./../../assets/images/dark-background-pattern.png');
}
.black-body-content{
    position: relative;
    width: 100%;
    height: 100%;
}

.black-body-open{
    animation-name:  black-body-open; 
    animation-duration: 400ms;
    animation-iteration-count: 1;
    width: 100%;
}
@keyframes black-body-open{
    0%{width: 0}
    100%{width: 100%}
}

.black-body-close{
    animation-name:  black-body-close; 
    animation-duration: 200ms;
    animation-iteration-count: 1;
    width: 0%;
}
@keyframes black-body-close{
    0%{width: 100%}
    100%{width: 0%}
}

.no-padding{
    padding: 0px;
    margin: 0px;
}

.voltar{
    opacity: 0;
    font-family:'Myriad Pro Bold'; 
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;
}
.seta-esquerda:before {
    
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #AEBD24; 
}

.infos-box{
    opacity: 0;
    width: 100%;
    padding: 30px;
    position: absolute;
    bottom: 10px;
}

.title{
    font-family:'Myriad Pro Bold Cond'; 
    text-transform: uppercase;
    font-size: 35px;
    float: right;
    margin-bottom: 30px;
}

.infos{
    font-family:'Roboto Light'; 
    text-transform: uppercase;
    font-size: 13px;
    text-align: right;
    display: block;
    margin-bottom: 20px;
}

.opacity{
    opacity: 1;
    animation-name:  opacity; 
    animation-duration: 300ms;
    animation-iteration-count: 1;
}

@keyframes opacity {
    0%{opacity: 0}
    100%{opacity: 1}
}
.nopacity{
    opacity: 0;
    animation-name:  nopacity; 
    animation-duration: 300ms;
    animation-iteration-count: 1;
}
@keyframes nopacity {
    0%{opacity: 1}
    100%{opacity: 0}
}

.full-image{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.links{
    color: #AEBD24;
}
.links:hover{
    color: #AEBD24;

}

.image-right{
    padding-left: 20px;
    display: inline-block;
    width: 50%;
}
.text-left{
    float: left;
    width: 50%;
    text-align: justify;
}

.content{
    margin: auto;
    width: 70%;
    padding-top: 40px;
    font-family: "Roboto Light";
    font-size: 14pt;
    text-align: justify;
}
.fixed{
    position: fixed
}

.footer{
    width: 100%;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px; 
    border-top: 1px solid #C0C1B9;
}
.profile{
    height: 100%;
    float: left;
}
.name{
    font-family: 'Myriad Pro Bold';
}
.location{
    font-size: 12px;
}
.personal{
    float: left;
    padding: 10px;
    height: 100%;    
    width: 200px;
}


@media screen and (max-width:1024px) {

    .voltar{
        display: none;
    }
    .black-body{
        width: 100vw;
        /* height: 10vh; */
        z-index: 100;
    }
    .black-body-open{
        animation-name:  black-body-open-r; 
        animation-duration: 400ms;
        animation-iteration-count: 1;
        height: 10vh;
    }
    @keyframes black-body-open-r{
        0%{height: 0}
        100%{height: 10vh}
    }
    .col-sm-3, .col-md-3, .col-xs-3{
        width: 100vw;
    }
    .fixed{
        position: static
    }
    .infos-box{
        bottom: 0px;
        position: static;
        padding-top: 20px;
    }
    .infos{
        text-align: left;
    }
    ul{
        -webkit-padding-start: 0px;
    }
    .title{
        float: none;
    }
    .title::after{
        content: "";
        vertical-align: middle;
        margin-left: 0px;
        margin-top: 15px;
        width: 0; 
        float: right;
        height: 0; 
      
        border-right: 10px solid transparent;
        border-left: 10px solid transparent; 
        border-top: 10px solid #AEBD24; 
    }
    .personal{
        width: 150px;
    }

}    